<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles_cej.css' %}" rel="stylesheet"/>
    <title>LIBFLIX's Board</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" />
</head>
<style>
    table {
        width: 60%;
        border-radius: 20px;
    }

    thead{
        padding: 10px
    }

    td {
        padding: 10px
    }
</style>
<body id = "bady">
    {% include "top.html" %}
    <!-- Header-->
    <header class="bg-dark py-2">
    <div class="container px-3 px-lg-3 my-4">
        <div class="text-center text-white">
            {%load static%}
            <center><a href="board"><img src = "{% static 'imgs\board-logo.png' %}"></a>
        </div>
        </div>
    </header>
    <div id = "bd-wrapper">
        <div id = "bd-content"> 
    <br><br><br>
    <!-- section: table-->
    <table class = "bg-dark" style = "margin-bottom: 25px" align = "center">
        <thead>
            <tr>
                <td><center><font style = "font-size: 30px; color: white; font-weight: bold;">{{content.postname}}</font></center></td>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><font style = "color: white;">{{content.contents}}</font></td>
            </tr>
        </tbody>
    </table>        
    <center>
    <!--목록/수정/삭제버튼-->
    <div style="margin-right: 385px; float: right"><form action="delete" method="get"><input type="hidden" name="delete_" value="{{content.id}}"><button class="btn mt-auto" type="submit" style = "background: white;">delete</button></form></div>
    <div style="margin-right: 15px; float: right"><form action="update" method="get"><input type="hidden" name="update_" value="{{content.id}}"><a class="btn mt-auto" href ="update?update_={{content.id}}" style = "background: white;">revise</a></form></div>
    <div style="margin-right: 15px; float: right"><a class="btn mt-auto" href ="board?" style = "background: white;">list</a></div>
    <br><br><br><br><br><br><br><br>
    </center>
</body>
</div>
    <!-- Footer-->
    
    <footer id = "BCfooter">
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Fantastic4's Website 2023</p>
        </div>
    </footer>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->  
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        if ("{{error}}"=="안됨"){
            alert('다른 이용자의 게시물입니다.')
        }
    </script>
    
</html>