<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--favicon-->
        <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" />
        <title>LIBFLIX - Life is BEAUTIFUL</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles_cej.css' %}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <script src="{% static 'js/index.js' %}" defer></script>
    </head>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <body>
        {% include "top.html" %}
        <section id = "bg">
            <section class="py-5">
                <main>
                    <!-- 액션 -->
                    <h2 class="title">액션</h2>
                    <div class="list">
                    {% for movie in movie_info %}
                    <figure>
                            <!-- Movie image, watch-->
                            <form class="form_cls" name="{{forloop.counter}}" action="play" method="get">
                                <input class="input_" id="{{forloop.counter0}}" type="hidden" value="{{movie.title}}" name="first">
                                <a class="btn btn-outline-dark mt-auto" href="#" ><img class="card-img-top" src="{{movie.moviethum}}" alt="..." /></a>
                            </form>
                    </figure>
                    {% endfor %}
                    </div>
                    <!-- 코미디 -->
                    <h2 class="title">코미디</h2>
                    <div class="list">
                    {% for movie in movie_info %}
                    <figure>
                        <!-- Movie image, watch-->
                        <form class="form_cls" name="{{forloop.counter}}" action="play" method="get">
                            <input class="input_" id="{{forloop.counter0}}" type="hidden" value="{{movie.title}}" name="first">
                            <a class="btn btn-outline-dark mt-auto" href="#" ><img class="card-img-top" src="{{movie.moviethum}}" alt="..." /></a>
                        </form>
                    </figure>
                    {% endfor %}
                    </div>
                    <!-- 공포 -->
                    <h2 class="title">공포</h2>
                    <div class="list">
                    {% for movie in movie_info %}
                    <figure>
                        <!-- Movie image, watch-->
                        <form class="form_cls" name="{{forloop.counter}}" action="play" method="get">
                            <input class="input_" id="{{forloop.counter0}}" type="hidden" value="{{movie.title}}" name="first">
                            <a class="btn btn-outline-dark mt-auto" href="#" ><img class="card-img-top" src="{{movie.moviethum}}" alt="..." /></a>
                        </form>
                    </figure>
                    {% endfor %}
                    </div>
                    <!-- SF / 판타지 -->
                    <h2 class="title">SF / 판타지</h2>
                    <div class="list">
                    {% for movie in movie_info %}
                    <figure>
                        <!-- Movie image, watch-->
                        <form class="form_cls" name="{{forloop.counter}}" action="play" method="get">
                            <input class="input_" id="{{forloop.counter0}}" type="hidden" value="{{movie.title}}" name="first">
                            <a class="btn btn-outline-dark mt-auto" href="#" ><img class="card-img-top" src="{{movie.moviethum}}" alt="..." /></a>
                        </form>
                    </figure>
                    {% endfor %}
                    </div>
                    <!-- 로맨스 -->
                    <h2 class="title">로맨스</h2>
                    <div class="list">
                    {% for movie in movie_info %}
                    <figure>
                        <!-- Movie image, watch-->
                        <form class="form_cls" name="{{forloop.counter}}" action="play" method="get">
                            <input class="input_" id="{{forloop.counter0}}" type="hidden" value="{{movie.title}}" name="first">
                            <a class="btn btn-outline-dark mt-auto" href="#" ><img class="card-img-top" src="{{movie.moviethum}}" alt="..." /></a>
                        </form>
                    </figure>
                    {% endfor %}
                    </div>
                    <!-- 애니메이션 -->
                    <h2 class="title">애니메이션</h2>
                    <div class="list">
                    {% for movie in movie_info %}
                    <figure>
                        <!-- Movie image, watch-->
                        <form class="form_cls" name="{{forloop.counter}}" action="play" method="get">
                            <input class="input_" id="{{forloop.counter0}}" type="hidden" value="{{movie.title}}" name="first">
                            <a class="btn btn-outline-dark mt-auto" href="#" ><img class="card-img-top" src="{{movie.moviethum}}" alt="..." /></a>
                        </form>
                    </figure>
                    {% endfor %}
                    </div>
                </main>
            </section>
        </section>
    </body>
        
    <!-- Footer-->
    <footer id= "footer">
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">&copy; 2023 Fantastic4, Inc .</p></div>
    </footer>
    </div><!--bodywrapper-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelectorAll('.input_').forEach(e =>{
            document.getElementsByClassName("btn btn-outline-dark mt-auto")[e.id].onclick = user_check;
            function user_check(){
                if(("{{request.session.login_}}").length==0){
                    location.href="top_login__";
                }else{
                    document.getElementsByClassName("form_cls")[e.id].submit();
                }
            }
        })
    </script>
</html>
