<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="{% static 'css/styles_hoya.css' %}" rel="stylesheet" />
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <title>영화 : {{movies.title}}</title>
    </head>
    <style>
        #playBG{
            background-image: url({% static 'img\bg.png' %});
            height: 95vh
        }
    </style>
    <body>
        {% include "top.html" %}
        <section id = "playBG">
        <center>
            <video class="box2" style="margin-top:30px" id="thumbnail_" width="800" height="450" preload="none" controls poster="">    
                <source id="source_" src="" type="video/mp4">
            </video>
                <table class="box3">
                    <tr>
                        <th>개  봉</th>
                        <th>등  급</th>
                        <th>장  르</th>
                        <th>감  독</th>
                        <th>런타임</th>
                        <th>즐겨찾기</th>
                    </tr>
                    <tr>
                        <!-- <p>{% static 'video/스쿨오브락.mp4' %}</p>  
                        <p>{% static 'thumbnail/스쿨오브락.jpg' %}</p>  url 확인용 태그 -->
                        <td>{{movies.title}}</td>
                        <td>{{movies.grade}}</td>
                        <td>{{movies.genre}}</td>
                        <td>{{movies.director}}</td>
                        <td>{{movies.rtime}}</td>
                        <td>
                            <form class="favor_cls" name="add_favor" action="addFavor" method="get">
                                <input class="input2" id="add_favor_id" type="hidden" value="{{movies.title}}" name="second">
                                <button class="btn mt-auto" href="#" type="submit"><font style = "color: white">추 가</font></button>
                            </form>
                        </td> 
                    </tr>
                </table>
            <p id="url" style="visibility: hidden;">{{movies.movieurl}}</p>
            <p id="thumthum" style="visibility: hidden;">{{movies.moviethum}}</p>
        </center>
            <script>
                x=document.getElementById('url').innerHTML
                document.getElementById('source_').src=x
                y=document.getElementById('thumthum').innerHTML
                document.getElementById('thumbnail_').poster=y
            </script>
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>    
        </section>
        
    </body>
</html>
