<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Page</title>
    <link href="{% static 'css/styles_yun.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#"><b><font style = "color: white">{{request.session.nick}}</b></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><form name="menu_main" action="index"><a class= "nav-link active" aria-current="page" href="#" onclick="menu_main.submit()"><font style = "color: white">Main</font></a></form></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><font style = "color: white">Menu</font></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><form name="menu_board" action="board"><a class= "dropdown-item" href="#" onclick="menu_board.submit()">Board</a></form></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><form name="menu_top_rank" action="top_rank"><a class= "dropdown-item" href="#" onclick="menu_top_rank.submit()">TOP 10</a></form></li>
                            <li><form name="menu_favorite" action="myfavorite"><a id="menu_favor" class="dropdown-item" href="#">My Favorites</a></form></li>
                        </ul>
                    </li>
                </ul>
                <form name="login_menu" class="d-flex" action="{{request.session.button_dir}}">
                    <a class="btn mt-auto" href="#" onclick="login_menu.submit()" style = "background-color: white;">{{request.session.button_name}}</a>
                </form>
            </div>
        </div>
    </nav>
</body>
    <script>
    
        var el = document.getElementById("menu_favor");
        el.onclick = user_check;
        
        function user_check(){
            if(("{{request.session.login_}}").length==0){
                location.href="top_login__";
            }else{
                menu_favorite.submit();
            }
        }
    </script>
</html>

