<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/styles_yun.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles_cej.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">{{request.session.nick}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><form name="menu_main" action="index"><a class= "nav-link active" aria-current="page" href="#"><p onclick="menu_main.submit()">메인</p></a></form></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><form name="menu_board" action="board"><a class= "dropdown-item" href="#"><p onclick="menu_board.submit()">게시판</p></a></form></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><form name="menu_genre" action="genre"><a class= "dropdown-item" href="#"><p onclick="menu_genre.submit()">장르</p></a></form></li>
                            <li><form name="menu_top_rank" action="top_rank"><a class= "dropdown-item" href="#"><p onclick="menu_top_rank.submit()">TOP 10</p></a></form></li>
                            <li><form name="menu_favorite" action="myfavorite"><a class="dropdown-item" href="#"><p onclick="menu_favorite.submit()">보관함</p></a></form></li>
                        </ul>
                    </li>
                </ul>
                <form name="login_menu" class="d-flex" action="{{request.session.button_dir}}">
                    <a class="btn btn-outline-dark" href="#" onclick="login_menu.submit()">{{request.session.button_name}}</a>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>

