* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-track {
  width: auto !important;
  opacity: 1;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.title {
  margin-left: 12px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8PX;
  margin-bottom: 48px;
}

.list figure {
  width: auto !important;
}

.list figure img {
  width: 100%;
  height: auto;
}

.slider .slick-list {
  margin: 0 -10px;
}

.slick-slide {
  margin: 5px;
}
