body{
    margin: 0;
    height: 100%;
    background-color: black;
  }

  section{
    height: 650px;
    background-color: black;
    /* background: url('https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg'); */
  }

  .title_margin{
    margin-top:10px; 
    margin-bottom:15px; 
    margin-bottom:15px; 
    margin-right:5px; 
    float:left; 
    margin-left:680px;
  }

  .pwd_margin{
    margin-bottom:15px; 
    margin-bottom:15px; 
    margin-right:5px; 
    float:left; 
    margin-left:680px;
  }

  .bg_textarea{
    background-color:white; 
    width:550px; 
    height:350px;
  }

  .write_back_margin{
    margin-top: 5px;
    margin-bottom:10px;
  }